all-info.log
media/recorded_data/*.wav
media/user-uploads/*.wav
no-use_MOREDAT_env/**
no-use_MOREDAT_env/
M_env/**
M_env/

*.pyc
**/__pycache__
**/__init__.py
*.backup
documentation.backup/
*/migrations/
**~
**#
**#*
nohup.out
to-do.txt
