{% extends "main/task-base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load crispy_forms_tags %}
{% load static %}




{% block content %}
<div class="col-md-8">
	<div class="col-md-8">
		<form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Vidnar task: {% translate 'End' %}</legend>
                {{ form }}
                <input type="hidden" name="user" value="{{ user.id }}">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit" onclick="off()">{% translate 'Finish' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}