{% extends 'main/main-base.html' %}
{% load i18n %}



{% block content %}
	{% include './main-sidebar.html' %}
	<div class="col-lg-8 col-md-12">
		

		<h1>{% translate 'Credits' %}</h1>

		<p>{% translate 'MoReDaT was conceptualized and written by Robert Borges under the auspices of the New Speakers of Minority Languages (NESPOMILA) project, funded by the Norway Grants scheme via the Polish National Science Centre (Narodowe Cendrum Nauki), under agreement number 2020/37/K/HS2/02779 .' %}</p>


    


		<h3>{% translate 'Acknowledgements' %}</h3>

		<p>
			<ul>
				<li>{% translate 'The MoReDaT Documentation App was inspired by' %}&nbsp;<a href="https://github.com/bartTC/django-wakawaka">Wakawaka</a>. {% translate 'If you need a wiki for your site, check them out.' %}</li>
                {% for a in acknowledgements %}
                    <li>{{ a.person }} || {{ a.reason }}</li>    
                {% endfor %}
			</ul>
		</p>

    <h3>{% translate 'Referenced Literature' %}</h3>
    <p>
        <ul style="list-style:none;">
        {% for r in references %}
            <li class="hang">{{r.full_reference}}</li>
        {% endfor %}
        </ul>
    </p>    
	</div>
{% endblock %}
