{% extends 'main/main-base.html' %}
{% load i18n %}



{% block content %}
	{% include './main-sidebar.html' %}
	<div class="col-lg-8 col-md-12">
		<h1>{% translate 'Free Media Upload' %}</h1>
		<hr>
		<h2>{% translate 'Rationale' %}</h2>
		<p>{% translate 'Sometimes you might like to allow your research participants to upload files that are not part of the apps, whether pictures or audio / video. Perhaps you want them to have the freedom to decide what is important that the researcher sees, or perhaps you as the researcher give little assignments to your participants "Go record your grandma telling you how to cook X in language Y", or "Record you and your friends having a casual conversation in language Y". This app allows you to accept such file as direct uploads.' %}</p>
		<h2>{% translate 'How it works' %}</h2>
		<p>{% translate 'The app is a standard file upload page. A user selects a file and provides minimal metadata. Once they click "Submit", the file is transferred to the host server and a metadata entry is created.' %}</p>
		<h2>{% translate 'See it in action' %}</h2>
		<p>
			{% translate 'Free Media Upload:' %}&nbsp;<a href="{% url 'freemediaupload' %}">{% translate 'here' %}</a></p>
		<h2>{% translate 'Read the Documentation' %}</h2>
			{% translate 'App Documentation:' %}&nbsp;<a href="{% url 'documentation_page' slug='FreeMediaUploadDocumentation' %}">{% translate 'here' %}</a>
		</p>

	</div>
{% endblock %}