{% extends 'main/main-base.html' %}
{% load i18n %}



{% block content %}
	{% include './main-sidebar.html' %}
	<div class="col-lg-8 col-md-12">
		<h1>Citing MoReDaT</h1>

		<p>MoReDaT was released into the world on 17 March 2022 at the The 6th Digital Humanities in the Nordic and Baltic Countries Conference (DHNB 2022), held at Uppsala University, in Sweden, on 15–18 March 2022. A full paper is in preparation, but for now please cite MoReDaT as a presentation from that meeting.</p>

		<p>Suggested:</p>

		<p style="padding-left:25px; text-indent:-25px;">Borges, Robert. 2022. <i>MoReDaT: A Modular Remote Data-collection Toolkit for Linguistics Research</i>. Paper given at the DHNB2022 conference, Uppsala University.</p>

		<p>This page will be updated once there is a peer-reviewed publication available for citation.</p>

	</div>
{% endblock %}